*{
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  background-color: #eee;
  color: rgb(75,85,99)
}

ol, ul, li, dd,a{
  padding: 0%;
}

ol, ul,a{
  padding: 0%;
  list-style: inside;
}

.center{
  text-align: center;
  align-items: center;
}

img{
  width: 150px;
  height: auto;
}

.flex-test{
  display: inline-flex;
  list-style: none;
}